@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rowdies&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rowdies&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;


}

html {
    font-size: 62.5%;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10rem;
    font-size: 3rem;
    text-transform: uppercase;
}



.li {
    list-style: none;
    font-size: 2rem;

    
    
}

.li:hover {
    font-size: 2.2rem;
    color: red;
    text-decoration: underline;
}

.navlink {
    display: flex;
    
    text-decoration: none;
    justify-content: space-evenly;

    font-family: 'Rowdies', cursive;


}

.navlink:hover{
    color: blue ;
}







.home_img {
    width: 100vw;
}

.home_box {
    background-color: black;



    padding-bottom: 10rem;



}

.home_h1 {
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 3rem;


    font-size: 3.5rem;
    text-align: center;
    font-family: 'Rowdies', cursive;
}



.home_content {
    background-color: white;
    font-size: 2.5rem;
    padding: 10rem;
    border: 0.5px solid black;
    width: 80rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;

}


.links {
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAsJCQcJCQcJCQkJCwkJCQkJCQsJCwsMCwsLDA0QDBEODQ4MEhkSJRodJR0ZHxwpKRYlNzU2GioyPi0pMBk7IRP/2wBDAQcICAsJCxULCxUsHRkdLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCz/wAARCADGAVEDASIAAhEBAxEB/8QAGwABAAIDAQEAAAAAAAAAAAAAAAECAwQFBgf/xABAEAACAQICBgYHBQcEAwAAAAAAAQIDEQQhBRIxQVFhE1NxgZGSFBUiQlSh0TJSk7HBBkNicqLS8CMzY+FEg8L/xAAbAQACAwEBAQAAAAAAAAAAAAAAAQIDBAUGB//EACwRAAICAQIGAQMEAwEAAAAAAAABAgMRBBIFEyExQVFSIkJhFCNxkYGh8OH/2gAMAwEAAhEDEQA/APkQAAASQSAAgAAAAAAAAAEkAAAAAAAAAAAAABIDAAEMAAAQJIJAaBkgtnExozU1mhFkV1O9oiD1r8kX0tJuvBX2RMuio2TfI1dIPWxMuSSObN5sPZ6aO3SpGDDQc61KP3pxXzOjpCTda18oxUfEwaMhrYiD+6nL5GaS6bGKO3WrKPhkZrJZma9JDFUpe2idNSdLAaOw++Sc5eCRyKK1Kc58InT/AGgnr46nRWylShHLc7XZz8Ralhkt8vyNmn6Vr8nnte92om/icqo25t82UJ2tsG84LIIJACIAAxAEAZWSAAAgEkAAJAAAQSQAAAkAIBJAACSCQAgEkAABJAAACQGAAIYAAAAAAwCQIeCyNiiryXcYEbeGXtRIvsX1LMj0ej1q0m3wOZiXrV6r5ux18P7FBv8AhOLUbc585M5jeZM9qltpijp6LjaNepwhYy6KpurjoS3R1qjGHXRaPrS3yy/Qz6KXR0dJYl/u6LjF87GGcsuTOjVDZTHP8nGxL9K0jip7U6kreJp6UklKFJW9mKXedDA03Oc6suMpP8zjY6p0uIqv+JnXqX1JejxmqeK3J95M1dlvmQW4vgRuNhycFQSQBFogEkDIsgAkZWAAAEAAAABIAQAAAAAAAAAAASAEAAAAAAASQSAwABDAAAYAADJJsQWSuIkkWith0MJG849xow2nUwcfaj2orseEbdLDdNHab1MM/wCU4yu5rtOripWoW5HOoRc6tNLe0jmZ7s9lYvpUTrYhdHgcPT2OVm/zMsv9DQU3slialu1N/wDRj0jlKhSXuwStz2GzpOFqeicErZRUpLsSRhre5r+To6z9ulr8Y/s56j6No+rUeTcNVcc0eVk3KU5c2z1OnpqjhaFFWvLNr5HlmmrLxO1peqcvZ4jieIzjUvCK7O8NcC2W0hZZmo5WCrKlioEGCGSQSIMgADKycgAAEAAABJAAAAAAAAAAAAASAAyCQAAAAQwAAAAABgAkBgAmwiSWQXWwqkXihMkkZKazOtgo+0jm01muZ1sKrK/Iz3Swjr8PrzNGbFybSRXRtPXxNLhrZ9xWu7m5oiFqlSpuhBs5dktsGz1tcN9kY/wbEo+kaTow3dLBPsjmzerQ6fSc3uoQjBdu019FR6TG1672Uozk+2WRu0MoYrEy9+VSpfkjInt/o6GsSlLa+2c/0eT/AGgrdLjeiX2aSUfA429+CNrFVHWxGIqv36krPvMFvl+Z6GpbIJHzvUydt0p+2UazSKy4F882Vtv4FmTO446FHZKxWxZ5sbiRRJFXsRUlkEipggAZWSBkAAgAAAJIJACAAAwCQIMAAAMAAAAAAAAAGAAAAEgB4ABIhoEoEoCxIkvFEJGSEc0RbLIRyzPRjdnTpO0TRorZ3G5FqxhuZ6PQV46kVHdnWwC6LBV6m+Xso5LzZ2ppUsDQhscvafec29/Sl7PVaGvdbu9G3oyDp4LF1ferSVOP+d5OlqiwmjKqi7OcVTXG8tpuYakoYXAUeK6WXfmcT9pqylPC4ZbEnVqL5IqoW+xIq4hZsqnL/B5Vx2LgtZ9pVr55szNXd+Lv3FJWzZ6FM8Py8GGXBFZLcuBk4vwKxjd3exfMkjPYsFFG2fHYUkZZu3+bEYJMsMkuhBAAyhsgADIEgAAIAJAZBIAhgAAAAAAAAAAAAPAAJAZAJAgwLAE2YDwQCUgA8EEkhIRJIWLIJFkhZJpZJSM8FsMaM8FsKpPobaYZZsU1axnTMUEsjKrfIwzZ6TSxwZaEHUq0422yR2q8Olr4agvvQhbkaGjad6uu9kE2dbAQ6XHub+zTi5d+w5l8syx6PV6KGyqVjOyorXb3QjGC7jw+lazxGNxVS91r9HB/wxyPZ4yr6Pg8TV36krfzSyR4Kq3m75vLxzbNGiXVyOBxKW6Kga7W17tiMUty5madlaJjtdt9x1Ys4Uo+DHqOUtWKvctNKKtuWXazYUFShrPKUlnyRp1p5vw7FwLU8mG5KKyzXm7/AObzGWk82VLkcmTyQABlZABIyAyAAAAAIkAAAAAAMAAAJAAhgAAMAEgNIWFgSkIlggmxawUQHgrYlItYslYTZJRK6pNi1iVHkRyWRhkqlcskXUS6gQci+NOSIrYZ4IiMNhmjEonM6dFJaK3maEb2KxiblCndx7jFbPB6DSUuTwbuGj0VGUt8sjsaIpPoqtTfUkors3nKlsjBdh6bBUVSoUovLVjfvZy28vJ6bVYo06gvJx/2irqNKjh178taVuCy2HkKjvJvdHLlc7WmsSq2LrzTvGH+nDnbI4s8kl3vtOvp47YI8rqVukYXm7cTPRpX9uX2V82KNKVSSsu18FxM2IlCmtSOyKt23NWTA68LczUxNTha+7m+JzajvczVptto182aYLCPPaq3fLCKkF/s5byjLTA+gIJIGQZAJAyAAAAAAIkAAAwAAGCQAAAE2EMAnIgRPBIsSkLAMWsSkyUi1hNjSIsSkSkXSIZLoxKqJZRLqJkjFEHI0wryY1AuocjLGCMkYFTmba6MmFQLqBmUNhZQ5FLmb4UGNQMsYvIsoGWMNhROZ0KdO8inA3qSSsYYUzbp03lltMFs8np9Bptv1M2cFRdavDJ2Uk3lc9FjqscJg6tS+ag1H+Z5I1NE4a3ttbt5p/tHileFCLyh7c7cdiRVVHLM2tt5t21donlq0nOTu/s+1Jve2a6g6krLZyMstZ5L7UnfvZ0cLho0KTxFW1o31E/en/1/mw7CaXQ5nIc2YJQjhaNn/uTV3yXA49erdvjt7OZuYuu6s5O989poqlKo7vKPF7zRWvLOHrrNz5dZq6rm8r238yJasckbFVxheMVs3mrJu5ri8nnLVteDGyC+qRsJmVooCSBlbAAGQAAAAAibCLEuhBIsLCHgWBNhYB4ZALaoswGokAtYWAeCETaxKQtmAxZkpE2JREko5FiyWQSLJEWWxiEjJGJCRkSK2zVCBKjsMsYkRiZooolI6FVYUTIokpGRIzuR04QIjDkZIwuWjEywgUSkdGqrJSNPkZ4UtmReFNGzTpoyTmztaelFIUthu4bDuUllvFOnmjpYdU6aUnbIzd2bLreXHbE3denhMM22laOZ4jHVnXr1Jyd3rNvt3LuOzpbHuSVODz91f/T/AEOThMJVxdWMIxvFZze5Le2zbTHBgq07jFyl3YwGClVlKtUypx9pt7ktrMWksWqkujp5QgtWEVwOjj68KcPRcN9mOUmvelwXI5kcJa1StktsYva/E2JpPqUarKhy613NCFBy9qSstrvvKVmopKOSRuVm5PVitmxL9TXlRW2d3wSNEZZ6s8xfW0sQ/s5jhKbdk+0xuMY77s3artdJWXCJpze2+XI1xeTz98FExMoy75FNWTLjCypBaxDsBU0QCCSRWAAAFoq6LWNrDYPFVqUakKM5RcpJNLLJ2M/q7HfD1PAqc0jpVaSyUVJJ9Tn25Cx0fV2N34er5S3q7GfD1fBEeYi5aG1/azm6rGq+B0/V2N+Hq+BPq7GfD1fBC5qJrh9vpnM1XwJ1Dp+rsZ8NU8CfV2M+Gq+VCdqJrhtvpnM6MajOqtHY34aq+5E+rsd8LV8qFzUTXDbPRy+jfMKnyZ1vV+P+Fq+C+pK0dj/havgvqJ2otXDZ+v8ARylTfAsqbOotHY/4Wp4L6k+rtIfC1P6fqQdpbHhk/TOZ0b5kqk3uOn6u0j8NP+n6llo7SC/8afjH6kXaXx4ZP4s5ypsuoWN9aO0h8NLxh9SVo7SPUS80PqQdhfHh019rNJLYZEbfq3SHw8vPT+pK0bpHqP66f9xBtGmGhtXg10zJFozLRmkepX4lP+4stGaR6pfi0v7ipmuGlsXgpFriZoSWQWjNIfcgv/bT+pkWi9If8K7asP0ZU4Nm6umce5kjKPFGxCpTVvaRrrRWOe2pho9tX6JmWOicQ/t4vDrsdSX5QKnp3I6Fc9ndmwsXQh7xgr6Sk040l2ykbNPQdF218ZUlxVHDVZN9jlZHQw+hsHBxcMDisRLc8XKNOnfnCCbLa9FL/v8AwJ6qqPV9X/3vBwsHo/G6QqScE9TN1a03aEVvvJnVmqNGksHgE3G2rWr76r3qHI7FXC15QUMTVpUaEdmHoLUgu2Mc34mpU6OCccPB/wA8lm1ySNE4RqXQojqubLPj14/y/JyfRaVD26lnU3Re40q0Z1G3K8U1sX2rdm468qM222nfi/qYZ4Z8VHjbNmHe89C6yEZrucSVNRTslFc9pq1IyzUIuT8EdupRwtO7k03xk0jSq4nDQTtKCt91OT+hprk2cTVUJJqTwcaeGxEr61orfbI1p4eEL60lftN3EYuMtZLppLl7KObVqtt2p+Z3OjXuZ5HVcqL+nqUk6a2IwtstKc3wRibe9mlI5EpdSGQwyBlLIAJJFYAAAdbBaQeHw8KSp05WlJ3lG7zZs+t5dTR8pxIPJd5fWKJVxbydmriN1cFFPojsrS8+po+UstLz6mj5EcS5ZSI8qJeuK3/I7S0vLqaPkJWlp9VR8iOKpFtYi6oli4pf8jtLS0upo+RFvW0+poeQ4ikWU3xI8pFq4pd8jtrSk+qw/kLrSk+qw/4aOIqhZVBOpF8eKXfI7a0nUf7nD/houtJVOpw/4aOKqnMuqqIcs0x4pb8js+savU4f8NFlpCr1OH/DRyI1lxMirLkVuDNMOJTf3HVWPq9Th/IXWOqdVQ8iOUq0S6rR4le1mmOuk/uOosdU6qh5EXWNqdVQ8iOUqy2XRdVlxRBxZojrH8jqLGTf7qj5EZFiqnV0fIcpV1xLLEpbytqRojq4+WdeOKqdXS8qMixNT7lLyI4yxaW8ssbHiRcbPBpjqqfJ21iam6NLyRLrE1typfhxOGsfFb0WWkoLehfuk+fp36O8sXiP+PyR+hkjjcUrWlHuhH6HAWlKO9ovHS2GW1kk7fbE/wBPLyj0C0ji1+8a7Ipfkg9JP95UqPtbOLDS+C2OasbVPH6Nq5a0c+YbrPLZXyaX2Sf8G96zwK2xvLnl+ZhnpSj7sYLwMcsNg66vDVb7jmYjR8E3bWi/4X+hU3LyXRoq+1dfTZt1tIt3esjnVsdKV/bj8zn18PiqberNyXaaM6teN07+BdVVu65ObqtZKr6duDfq4hu9pw+X6mhWrzd7VY9yRqVK03e6T7VY1pTXDwOjXTg8nq9e5vBlqTk3nNvvNeT4u5VyXMq3zNaRwrLNzJa5lSLkEjO2SQAMi2AQBkCQMgAF4uyRNyiFyJdF4RkuEzHcm4h7jJcXMd+YuA9xl1iVJmLW5jWAluM2u0TrmBSJ1hYHvZn6QlVO017k6wbSaskjYVVreWVZ8TV1hrC2Inz5I3FXfEn0iRpXJuLYTWpkjd9IlxLLEy4mhrcydbmR5aJrVS9m/wCky4j0qRoXfEazQuWia1k15N70mXEekvj8zS1uY1mHLRP9bL2bnpEuJHTSe81NZk6zHy0SWrl7NnpHxZKm+LNbXLKaFsLY6n8mwpPiZYzlubNRTMkZkJQNtWp/J08NpHFYeS9t2W5vI9Fh9IUcXTSm1e1tuZ49NSXMyUMRUoTTTyuZZ0KSyjt0cQlU1v6o9LiqUl7SzjxW1dtjk1tVt60U+D2HQw+OVSKTzVrNP9DXxVCMk50t+bjufYZoLa8M6Or23174PJxa1GLvqvueT7jQqQcXne50qqftKzy3GlNt3W3t2o6dTZ4TW1rPRGqyjMskr/oY2rGpHFkioJIGVMEEkDIAAABIAAAiQBE12AAEMgADAkAAAAAhi7JuwADIuAAJgAABOYAABcXYAALjMABk3YuwBBkXJUgABNl02ZItgEWdClsywk0zJNbGAUvudip5g8mWhWnB8dX5o6kKkms+KT7ZbGv1AKLoo2aOyWcZMOIpKak3ZSV81xOPVWbT232gE6TJxNJPoasszG8sgDYjy0+5BABIpBAAyLAAAQAAAf/Z");
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    padding: 3rem;
}

.links_h1 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;

}


.links_h2 {
    font-size: 2rem;
}

.links_li {
    

    list-style: none;
    font-size: 2rem;
    display: inline-block;
    color: black;
    padding: 1rem;
    font-size: 3rem;

    border: 2px solid black;
    border-radius: 100%;
    background-color: white;

    
    
}

.links_ul {

    display: flex;
    gap: 5rem;

  
}


.contact_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    border: 2px soild black;
    border-radius: 10rem;
    margin-bottom: 10rem;
}


.inner {

    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
    /* justify-content: center; */
    align-items: center;
}

label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
}

input,
textarea {
    background-color: white;
    font-size: 1.2rem;
    padding: 0.8rem;
    border: 1px solid black;
    border-radius: 10rem;
}


.submit_btn {
    background-color: black;
    color: white;
    padding: 1rem;
    margin: 1rem;
    width: 60%;
    font-size: 1.2rem;
    border: 2px soid black;
    border-radius: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width : 320px) {
    html {
        font-size: 35%;
    }

}



@media (min-width : 320px) and (max-width : 480px) {
    html {
        font-size: 43.75%;
    }

}

@media (min-width : 481px) and (max-width : 768px) {
    html {
        font-size: 53.125%;
    }


}

@media (min-width : 769px) and (max-width : 1023px) {
    html {
        font-size: 62.5%;
    }


}


@media (min-width : 1024px) and (max-width : 1200px) {
    html {
        font-size: 71.85%;
    }

}


@media (min-width : 1201px) {
    html {
        font-size: 77%;
    }

}



.toggleclass{
    background-color: black;
}